@import '~@angular/material/theming';
@import './../../../../assets/styles/typography';

mat-toolbar {
  @include mat-elevation(2);
}


ul.courses-list {
  margin: 0;
  padding: 0.5rem;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  li.courses-list-item {
    flex: 0 0 calc(25% - 1rem);
    margin: 0.5rem;

    display: flex;
    align-items: stretch;
    justify-content: stretch;

    mat-card.course-card {
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .media {
        background: #c8c8c8;
      }

      mat-card-title {
        @include mat-typography-level-to-styles($typography-config, title);
      }

      mat-card-content {
        flex: 1;
      }

      &:hover {
        @include mat-elevation(8);
      }
    }
  }
}
