@import '~@angular/material/theming';
@import './../../../../assets/styles/theme';

:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.drawer-container {
  flex: 1;

  .drawer {
    width: 16rem;

    .drawer-content-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      header {
        flex: 0 0 8rem;
        padding: 0 1rem;

        background-image: url('/assets/images/38-material-design.jpg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.authenticated {
          align-items: flex-end;
        }

        .no-picture {
          margin: 1rem 0;
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          background: #e0e0e0;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .nav-section {
        flex: 1 1 0;
        overflow-y: auto;

        nav {
          display: block;

          .nav-group {
            padding: 0 0.5rem;
          }

          .nav-group + .nav-group {
            border-top: solid 1px rgba(0, 0, 0, 0.12);
          }

          a {
            display: flex;
            padding: 0.25rem 0.5rem;
            margin: 0.5rem 0;

            mat-icon {
              flex: 0 0 auto;
            }

            span {
              padding: 0 1rem;
            }

            &.active {
              background: mat-color($app-primary, 100, 0.5);
            }
          }
        }
      }

      footer {
        flex: 0 0 auto;
      }
    }
  }
}
